//- Footer stuff

footer(class="row")
    div(class="row col-8 offset-col-2")
        span(class="col-12") For advice and further information about Fontes Anglo-Saxonici, feel free to contact:
        div
            ul(class="col-2")
                li Dr Christine Rauer
                li cr30@st-andrews.ac.uk
            ul(class="col-8")
                li 
                li School of English &bull; University of St Andrews &bull; St Andrews &bull; KY16 9AL &bull; United Kingdom
            ul(class="col-2")
                li Tel. +44 1333 450214
                li Fax +44 1334 462655
            
        //- span Developed and Hosted at the University of St Andrews
