//- navbar
nav(class="row")
    //- logo
    
    //- links
    //-  -search
    //-  -about
    //-  -pinned
    //-  -contact
    
    //-help

    ul
        li
            img(class="nav-logo" src="/images/logo.png" alt="Logo of Fontes: Anglo-Saxonici")
        li 
            a(class=(activepage == "search" ? "nav-active" : undefined) href="/search/") Search
        li
            a(class=(activepage == "about" ? "nav-active" : undefined) href="/about/") About
        li 
            a(id="nav-pinned" class=(activepage == "pinned" ? "nav-active" : undefined) href="/pinned/") Pinned
        li(class="nav-help") 
            a(class=(activepage == "help" ? "nav-active" : undefined) href="/help/") Help
        li(class="icon")
            span(id="hamburger-menu")
