@media only screen
    *
        display: none


@media print
    *
        box-sizing: border-box
        font-family: "Cormorant Garamond", serif
        color: black
        margin: 0
        padding: 0

    body
        background-color: white
        font-size: 12px
        border-bottom: black 3px solid

    #top
        border-bottom: black 3px solid
        img
            width: 125px
            height: auto
            margin-bottom: 5px
        h1
            font-size: 48px
            float: right

    #results
      table
          margin-top: 10px
          padding: 7px 0
          table-layout: fixed
          width: 100%
          font-size: 12px
          border-collapse: collapse
          thead
              border-bottom: black 2px solid
              padding-bottom: 3px
              th
                  text-align: left
                  font-size: 16px
                  &:nth-child(1)
                      width: 50%
                  &:nth-child(2)
                      width: 25%
                  &:nth-child(3)
                      width: 25%
          tbody
              tr
                  td
                      padding: 4px 0
