extends layout

block pagehead
  title Fontes Anglo-Saxonici - About
  script(src="javascripts/sidebar-nav.js")


block content
  div(class="row")
      h1(class="col-8 col-s-10 offset-col-2 offset-col-s-1 col-xs-10 offset-col-xs-1 page-heading") About
  div(class="row")
      div(id="sidebar" class="col-2 offset-col-2 col-s-3 offset-col-s-1", role="navigation")
          div(class="sidebar-header")
              h3 Jump to...
          div(class="sidebar-body")
              ul
                  li 
                    a(class="sidebar-active" href="#") What is Fontes Anglo-Saxonici
                      ul
                          li 
                            a(href="#") Fontes on the Web
                  li 
                    a(href="#") About the Project
                      ul
                          li 
                            a(href="#") Organisation and Staff
                          li
                            a(href="#") History
                          li 
                            a(href="#") Spin Offs
                          li 
                            a(href="#") Acknowledgements
                          li 
                            a(href="#") Future
                  li 
                    a(href="#") About the Database
                      ul
                          li 
                            a(href="#") Acknowledging the Database
                          li 
                            a(href="#") What can I do with the Database
                          li 
                            a(href="#") Features
                          li 
                            a(href="#") Feedback
                  li 
                    a(href="#") A Fontes Bibliography
                  
      div(class="col-6 offset-col-4 col-s-7 offset-col-s-4 col-xs-10 offset-col-xs-1 main-text-content", role="main")
          h2 What is Fontes Anglo-Saxonici
          p Fontes Anglo-Saxonici: A Register of Written Sources Used by Authors in Anglo-Saxon England is intended to identify all written sources which were incorporated, quoted, translated or adapted anywhere in English or Latin texts which were written in Anglo-Saxon England (i.e. England to 1066), or by Anglo-Saxons in other countries.

          p The material is compiled in the form of a database which analyses each Anglo-Saxon text passage by passage, sentence by sentence or, if necessary, phrase by phrase, identifying the probable source-passages used for each particular segment. The database now contains over 28,000 records analysing in detail the source-relationships of around 1143 Anglo-Saxon texts (over 500 Old English and over 600 Latin) and identifying the use of over 1000 sources and analogues. These numbers continue to grow rapidly as we add records to the database.

          p The database shows which texts were known in Anglo-Saxon England, how well specific texts and authors were known, and in what different ways they were used. It also provides the basis for studies on the intellectual interests of Anglo-Saxon authors, and what contributions the Anglo-Saxons made to the history of ideas.
          
          
          h2 Fontes on the Web
          p This web site contains the Fontes database, an introduction to the project, the latest progress report, a list of texts sourced so far, a guide to using the database and some bibliographical material. If you would like to make any comments or suggestions concerning what you would like to see on these pages, please visit our contacts page.
          
          h2 About the Project
          p The Register aims to identify all written sources which were incorporated, quoted, translated or adapted anywhere in English or Latin texts which were written, or are likely to have been written, in Anglo-Saxon England, including those by foreign authors. It will also identify the written sources used by authors of texts written abroad if those authors are certainly or arguably Anglo-Saxons, and by foreigners who were drawing mainly on materials which they had obtained, or are likely to have obtained, in Anglo-Saxon England. Anglo-Saxon England is defined as England up to 1066, but a text will be sourced whether it is extant in a pre-1066 copy or only in a later one. A text written after 1066 will be included in the project only if it is of a type characteristic of England before 1066. An identifiable source will be recorded whether or not it is extant. Oral sources and booklists are excluded.
          
          h2 Organisation and Staff
          
          p The project is run by a management committee whose current officers are:
          ul
              li Chairman: Professor Joyce Hill, University of Leeds
              li Director for Old English: Professor Donald Scragg, University of Manchester
              li Director for Anglo-Latin: Dr Rosalind Love, University of Cambridge 
              li Director of the Database: Professor Malcolm Godden, University of Oxford
              li Database Editor and Research Associate: Dr Rohini Jayatilaka, University of Oxford 
              li Hon. Secretary: Mr Peter Jackson, Oxford 

          p Other members of the Committee are:
          ul
              li Professor Janet Bately, King's College, London 
              li Professor Mary Clayton, University College, Dublin 
              li Dr Susan Irvine, University College, London 
              li Professor Jane Roberts, King's College, London 
              li Dr Christine Rauer, Corpus Christi College, Oxford 
              li Dr Susan Rosser, University of Manchester 

          p The Committee is helped by an international Advisory Board whose current members are:
          ul
              li Professor Fred Biggs, University of Connecticut 
              li Professor Helmut Gneuss, University of Münich 
              li Professor Tom Hall, University of Illinois at Chicago 
              li Professor Tom Hill, Cornell University 
              li Professor Michael Lapidge, University of Notre Dame, Indiana 
              li Professor Andrew Orchard, University of Toronto 
              li Professor Paul Szarmach, Medieval Institute, University of Western Michigan, Kalamazoo 
              li Professor Gordon Whatley, Queens College, New York 
              li Professor Charles D. Wright, University of Illinois at Urbana-Champagne 
          
          h2 History
          p The initial impulse for a large-scale project to study and record the written sources of Anglo-Saxon authors came at a one-day conference on sources at the University of Leeds in March 1984, organized to publicize a proposal made at the Symposium on the Sources of Anglo-Saxon Culture held in conjunction with the 1983 International Congress on Medieval Studies at Western Michigan University to revise J. D. A. Ogilvy's Books known to the English, 597-1066 (Cambridge, MA, 1967). At the Leeds Conference, J. E. Cross and Malcolm Godden gave papers on the sources of some of the Vercelli homilies and of Ælfric respectively, and in the discussion which followed, the desirability of establishing a rather different project, along the lines of Fontes Anglo-Saxonici, was agreed by all present. A small steering committee was set up, which met subsequently on a number of occasions at King's College, London, during the summer of 1984. At some of its meetings representatives of the informal group of American scholars concerned with the 'revised Ogilvy' project (subsequently named Sources of Anglo-Saxon Literary Culture) were also present, and the separate aims and objectives of the two schemes were clarified. The steering committee established an Executive Committee for Fontes with Peter Clemoes as Director, Joyce Hill as General Secretary, Michael Lapidge as Executive Secretary for Anglo-Latin, and Donald Scragg as Executive Secretary for Old English.

          p Planning and setting up the project in every detail necessarily formed a lengthy initial stage, but since then a substantial body of material has been assembled. First of all, the Executive Committee, on the basis of work done by various subcommittees, approved guidelines for the submission of entries to a computer database, housed at the University of Manchester. Then followed the recruitment of a body of scholars worldwide. Next the database was created by Dr Marilyn Deegan, whose work during a one-year full-time appointment as a Research Assistant to the project was funded by the University of Manchester's Research Support Fund. Processing of the contributions received from scholars and their incorporation in the database were achieved to begin with by the half-time appointment for two years of Mrs (now Dr) Wendy Collier as a Research Assistant, funded by the University of Manchester Research Support Fund. Subsequently continuation of Dr Collier's work was supported by grants from the British Academy. From 1991 onwards advances on the Old English side of the project were greatly assisted by a succession of appointments of research associates funded by the British Academy and its Humanities Research Board, and subsequently by the Arts and Humanities Research Board.

          p These research associates compiled material for a substantial range of material:
          ul
              li 1992-3 Dr Joan Hart (now Joan Hart-Hasler): King Alfred's version of the Regula Pastoralis, the Old English Bede, Canons of Edgar, Apollonius of Tyre

              li 1995-7 Dr Mark Atherton: anonymous homilies and saints' lives; Ælfric's De Temporibus Anni; as well as processing work from outside contributors

              li 1995-2002 Dr Rohini Jayatilaka: Ælfric's Supplementary Homilies and Saints' Lives; Wærferth's translation of Gregory's Dialogues; Old English Orosius; Old English Benedictine Rule

              li 1997-8 Dr Christine Rauer: Lives of St Machutus and Chad; the Old English Martyrology

              li 1998-9 Dr Daniel Anlezark: Old English Daniel and Azarias; Old English Exodus

              li 1999 Dr Brad Bedingfield: Ælfric's homilies Assmann 5 and 6; Ælfric's Interrogationes Sigewulfi in Genesin

          p Work on the Anglo-Latin side was substantially advanced in 1996 by the appointment of Dr Rosalind Love as Humanities Research Board Institutional Fellow at Robinson College Cambridge, to work on the project; she has so far covered the Latin charters, the Latin saints' lives and the works of Bede (in progress). Following Dr Love's appointment to a lectureship in the Department of Anglo-Saxon Norse and Celtic at Cambridge, Dr Katherine Scarfe-Beckett succeeded to the HRB Institutional Fellowship and is currently working on the sources for Bede's Historia Ecclesiastica.

          p Other material has been contributed by members of the project, and by scholars elsewhere. [See list of 'Texts included in the Database']

          p In 1995 the database was moved from the mainframe computer at Manchester to a PC-base using the Paradox database system, and Dr Orchard became database manager. In 1998 the main database was relocated at Oxford, with Dr Jayatilaka as database editor and Professor Godden as database director, and work began on creating a web-mounted version, with the help of Paul Groves of the Humanities Computing Development Team at the Oxford University Computing Service. This was made available to the public for the first time on 1 August 1999.
          
          h2 Spin Offs
          p In the course of its development the project has produced a series of research tools:
          ul
              li M. Lapidge, Abbreviations for Sources and Specification of Standard Editions for Sources (Centre for Medieval and Early Renaissance Studies, SUNY, Binghamton, 1988). 
              li M. Lapidge and R. Love, A Handlist of Latin Texts written in Anglo-Saxon England (currently being revised) 
              li J. Bately, Anonymous Old English Homilies: a Preliminary Bibliography of Source Studies (Centre for Medieval and Early Renaissance Studies, SUNY, Binghamton, 1993) 
              li J.Bately, J. Roberts et al., Archive of source-studies and source materials located in the Department of English, King's College London 
          
          h2 Acknowledgements
          p The project gratefully acknowledges support from the following institutions:
          ul
              li British Academy: grants for running costs and research assistance, 1986-96 
              li Humanities Research Board: grants for research assistance and an Institutional Fellowship, 1996-9 
              li Arts and Humanities Research Board: 
                ul
                    li grants for research assistance, 1997-1999
                    li major three-year grant for research assistance, database management, web and CD-ROM development, 1999-2002

              li University of Manchester: grants for research assistance, 1987-90, and institutional support 
              li University of Leeds: institutional support 
              li University of Cambridge: institutional support 
              li King's College London: grant for research assistance 1988-90, and institutional support 
              li University of Oxford: grant for hardware and web development 1997-9, and institutional support 
          
          h2 Future
          ul
              li Over the next three years we hope to complete the register of Anglo-Saxon texts and their sources and perfect the web-mounted access to it.
              li A CD-ROM version of the database is in the planning stage, and we intend to issue a first version in 2001 and a final version in 2002.

          
          h2 About the Database
          p Currently the database covers about 1135 Anglo-Saxon texts, over 500 in Old English and over 600 in Latin. For the full list see 'Texts included in the Database' (or to see the list of authors covered so far, go into the database and scroll down the list under Anglo-Saxon Authors). Many others are in active preparation - see the list of 'Texts in Progress'. Nearly a thousand source-texts have been so far cited, from Abbo to Wulfstan. We intend to cover all relevant Anglo-Saxon texts in time. If you would be willing to contribute material to the database, whether from published material or your own research, please contact the relevant director (Professor Scragg for Old English texts, Dr Love for Latin texts). 
          
          h2 Acknowledging the Database
          p The records for each text were compiled by the individual contributors named in the general information for that text, using either their own unpublished research or published work by themselves or others as noted in the bibliographical information provided with the records, or a combination of the two. Any user wishing to employ material drawn from the database in their own publications should acknowledge the Fontes database and, where appropriate, the individual contributor and the published work cited in the bibliographies.
          
          h2 What can I do with the Database?
          //- TODO: REWRITE THIS SECTION 
          ul
              li You can select an Anglo-Saxon text (whether Old English or Latin) and get a report of all the sources used for it, passage by passage, sometimes phrase by phrase, matched to a precise location in the source text.
              li You can get a summary account of all the different sources used to compile an Anglo-Saxon text, and follow up those in which you are interested.
              li You can pick a text used as a source, and ask for a list of all the Anglo-Saxon texts that used that source, and follow up the examples that interest you. Or, after choosing a source-text, you can select the Anglo-Saxon texts which you want to know about.

          
          h2 Features
          ul
              li Anglo-Saxon texts are identified by their author, title and edition (in summary form). The particular passage is identified by its line-numbers or other appropriate reference, and by the opening and closing words (or a full quotation if it is very short).
              li Information about the contributor, transmission of sources, and any bibliography of source-studies for that text can be found by clicking on the title of the Anglo-Saxon work.
              li Source texts are identified by their author (including Anon and BS = Biblia Sacra for books of the Bible), title (in abbreviated form), and edition. We use as far as possible standard, widely accessible editions of source-texts to make it easy for users to follow up references, especially on databases such as PLD and Cetedoc. These are not always the most recent editions, and in some cases different editions of the same text have been cited, usually because they contain distinct versions of the source-text. In identifying authors we have tried to keep abreast of modern re-attributions and identifications, but since these are constantly changing users should be prepared to look for other possibilities (e.g. by consulting Clavis Patrum Latinorum for patristic texts).
              li Individual source-identifications are accompanied by a sigil indicating 'source-status' - that is, is it a single source or one of several (alternative or combined) sources for that passage? Is it a certain source, or a probable one, or just a possible one, or an analogue? A brief key to sigla can be found by clicking on the sigla at any point; for a fuller description see 'An explanation of sigla' in our 'Tips for using the resources available on the Fontes home page'.

          
          h2 Feedback
          p The current version is the first to be on general access, and both the database structure and the forms of citation are inevitably provisional. We need feedback to make the project more useful: please let the database editor know if:
          ul
              li There are things you want to learn from it which the structure doesn't at present allow.
              li You find errors or inconsistencies in locations, quotations, references, etc.

          p Please let the relevant director (for Old English or for Latin) know if:
          ul
              li You think the source-information is wrong or needs to be updated
              li You can contribute more material

          
          h2 A Fontes Bibliography
          ul
              li J. Hill, 'Sources of Anglo-Saxon Literature: Writings Known by Authors in Anglo-Saxon England', Old English Newsletter 19.1 (1985), 23.

              li J. Hill, 'Fontes Anglo-Saxonici: A Register of Written Sources Used by Authors in Anglo-Saxon England', Medieval English Studies Newsletter 21 (1989), 35-37.

              li D.G. Scragg, 'An Introduction to Fontes Anglo-Saxonici', Old English Newsletter 26.3 (1993), Appendix B, 1-8.

              li D.G. Scragg, 'The Hunt for Sources and the Project Fontes Anglo-Saxonici', Medieval English Studies Newsletter 29 (1993), 10-13.

              li D.G. Scragg, 'The Bible in Fontes Anglo-Saxonici', Bulletin of the John Rylands University Library of Manchester 77.3 (1995), 199-203.

              li D.G. Scragg, 'Source Study', in Reading Old English Texts, ed. Katherine O'Brien O'Keeffe (Cambridge, 1997), pp. 39-58.

              li Peter Jackson, 'Fontes Anglo-Saxonici, 1993-97: Prospecting and Retrospecting', Medieval English Studies Newsletter 37 (1997), 31-37.

              li R. Jayatilaka, 'Fontes Anglo-Saxonici on the World-Wide Web', Medieval English Studies Newsletter 41 (1999), 11-39. 
