extends layout

block pagehead
  title Fontes Anglo-Saxonici - About
  script(src=baseUrl+"javascripts/sidebar-nav.js")


block content
  div(class="row")
      h1(class="col-8 col-s-10 offset-col-2 offset-col-s-1 col-xs-10 offset-col-xs-1 page-heading") About
  div(class="row")
      div(id="sidebar" class="col-2 offset-col-2 col-s-3 offset-col-s-1", role="navigation")
          div(class="sidebar-header")
              h3 Jump to...
          div(class="sidebar-body")
              ul
                  li
                    a(class="sidebar-active" href="#what-is-fontes") What is Fontes Anglo-Saxonici
                  li
                    a(href="#aims") Aims of the Project
                  li
                    a(href="#history") History
                  li
                    a(href="#spin-offs") Spin Offs
                  li
                    a(href="#acknowledgements") Acknowledgements
                  li
                    a(href="#about-the-database") About the Database
                  li
                    a(href="#acknowledging-the-database") Acknowledging the Database
                  li
                    a(href="#what-can-i-do") What can I do with the Database
                  li
                    a(href="#features") Features
                  li
                    a(href="#new-website") 2020 Update

      section(class="col-6 offset-col-2 col-s-7 offset-col-s-1 col-xs-10 main-text-content", role="main")
          h2(id="what-is-fontes") What is Fontes Anglo-Saxonici
          p The project was begun in 1984 and was developed and managed by a group of scholars under the chairmanship of, successively, Peter Clemoes (Cambridge), Malcolm Godden (Oxford) and Joyce Hill (Leeds). Its officers were:
          ul
              li Chairman: Professor Joyce Hill, University of Leeds
              li Director for Old English: Professor Donald Scragg, University of Manchester
              li Director for Anglo-Latin: Dr Rosalind Love, University of Cambridge
              li Director of the Database: Professor Malcolm Godden, University of Oxford
              li Database Editor and Research Associate: Dr Rohini Jayatilaka, University of Oxford
              li Hon. Secretary: Mr Peter Jackson, Oxford
              li Research Officer: Dr Christine Rauer, University of St Andrews

          p Other members of the Committee were:
          ul
              li Professor Janet Bately, King's College, London
              li Professor Mary Clayton, University College, Dublin
              li Dr Susan Irvine, University College, London
              li Professor Clare Lees, King's College, London
              li Professor Jane Roberts, King's College, London

          p The Committee was helped by an international Advisory Board whose members were:
          ul
              li Professor Fred Biggs, University of Connecticut
              li Professor Helmut Gneuss, University of Munich
              li Professor Tom Hall, University of Illinois at Chicago
              li Professor Tom Hill, Cornell University
              li Professor Michael Lapidge, University of Notre Dame, Indiana
              li Professor Andy Orchard, University of Toronto
              li Professor Paul Szarmach, Medieval Institute, University of Western Michigan, Kalamazoo
              li Professor Charles D. Wright, University of Illinois at Urbana-Champagne

          h2(id="aims") Aims of the project
          p The Register aims to identify all written sources which were incorporated, quoted, translated or adapted anywhere in English or Latin texts which were written, or are likely to have been written, in Anglo-Saxon England, including those by foreign authors. It also identifies the written sources used by authors of texts written abroad if those authors are certainly or arguably Anglo-Saxons, and by foreigners who were drawing mainly on materials which they had obtained, or are likely to have obtained, in Anglo-Saxon England.

          p Anglo-Saxon England is defined as England up to 1066, but a text is sourced whether it is extant in a pre-1066 copy or only in a later one. A text written after 1066 is included in the project only if it is of a type characteristic of England before 1066. An identifiable source is recorded whether or not it is extant. Oral sources and booklists are excluded.

          h2(id="history") History
          p The initial impulse for a large-scale project to study and record the written sources of Anglo-Saxon authors came at a one-day conference on sources at the University of Leeds in March 1984, organized to publicize a proposal made at the Symposium on the Sources of Anglo-Saxon Culture held in conjunction with the 1983 International Congress on Medieval Studies at Western Michigan University to revise J. D. A. Ogilvy's Books known to the English, 597-1066 (Cambridge, MA, 1967). At the Leeds Conference, J. E. Cross and Malcolm Godden gave papers on the sources of some of the Vercelli homilies and of Ælfric respectively, and in the discussion which followed, the desirability of establishing a rather different project, along the lines of Fontes Anglo-Saxonici, was agreed by all present. A small steering committee was set up, which met subsequently on a number of occasions at King's College, London, during the summer of 1984. At some of its meetings representatives of the informal group of American scholars concerned with the 'revised Ogilvy' project (subsequently named Sources of Anglo-Saxon Literary Culture) were also present, and the separate aims and objectives of the two schemes were clarified. The steering committee established an Executive Committee for Fontes with Peter Clemoes as Director, Joyce Hill as General Secretary, Michael Lapidge as Executive Secretary for Anglo-Latin, and Donald Scragg as Executive Secretary for Old English.

          p Planning and setting up the project in every detail necessarily formed a lengthy initial stage, but since then a substantial body of material has been assembled. First of all, the Executive Committee, on the basis of work done by various subcommittees, approved guidelines for the submission of entries to a computer database, housed at the University of Manchester. Then followed the recruitment of a body of scholars worldwide. Next the database was created by Dr Marilyn Deegan, whose work during a one-year full-time appointment as a Research Assistant to the project was funded by the University of Manchester's Research Support Fund. Processing of the contributions received from scholars and their incorporation in the database were achieved to begin with by the half-time appointment for two years of Mrs (later Dr) Wendy Collier as a Research Assistant, funded by the University of Manchester Research Support Fund. Subsequently continuation of Dr Collier's work was supported by grants from the British Academy. From 1991 onwards advances on the Old English side of the project were greatly assisted by a succession of appointments of research associates funded by the British Academy and its Humanities Research Board, and subsequently by the Arts and Humanities Research Board.

          p These research associates compiled material for a substantial range of material:
          ul
              li 1992-3 Dr Joan Hart (later Joan Hart-Hasler): King Alfred's version of the Regula Pastoralis, the Old English Bede, Canons of Edgar, Apollonius of Tyre

              li 1995-7 Dr Mark Atherton: anonymous homilies and saints' lives; Ælfric's De Temporibus Anni; as well as processing work from outside contributors

              li 1995-2002 Dr Rohini Jayatilaka: Ælfric's Supplementary Homilies and Saints' Lives; Wærferth's translation of Gregory's Dialogues; Old English Orosius; Old English Benedictine Rule

              li 1997-8 Dr Christine Rauer: Lives of St Machutus and Chad; the Old English Martyrology

              li 1998-9 Dr Daniel Anlezark: Old English Daniel and Azarias; Old English Exodus

              li 1999 Dr Brad Bedingfield: Ælfric's homilies Assmann 5 and 6; Ælfric's Interrogationes Sigewulfi in Genesin

          p Work on the Anglo-Latin side was substantially advanced in 1996 by the appointment of Dr Rosalind Love as Humanities Research Board Institutional Fellow at Robinson College Cambridge, to work on the project; she covered the Latin charters, the Latin saints' lives and the works of Bede. Following Dr Love's appointment to a lectureship in the Department of Anglo-Saxon Norse and Celtic at Cambridge, Dr Katharine Scarfe-Beckett succeeded to the HRB Institutional Fellowship in 2000 and completed work on the sources for Bede's Historia Ecclesiastica.

          p Other material was been contributed by members of the project, and by scholars elsewhere.

          p In 1995 the database was moved from the mainframe computer at Manchester to a PC-base using the Paradox database system, and Dr Orchard became database manager. In 1998 the main database was relocated at Oxford, with Dr Jayatilaka as database editor and Professor Godden as database director, and work began on creating a web-mounted version, with the help of Paul Groves of the Humanities Computing Development Team at the Oxford University Computing Service. This was made available to the public for the first time on 1 August 1999. In 2002 the CD-ROM version of the database was created with the help of David Miles of Oxford Database Design.

          h2(id="spin-offs") Spin Offs
          p In the course of its development the project produced a series of research tools:
          ul
              li M. Lapidge, Abbreviations for Sources and Specification of Standard Editions for Sources (Centre for Medieval and Early Renaissance Studies, SUNY, Binghamton, 1988)
              li M. Lapidge and R. Love, A Handlist of Latin Texts written in Anglo-Saxon England
              li J. Bately, Anonymous Old English Homilies: a Preliminary Bibliography of Source Studies (Centre for Medieval and Early Renaissance Studies, SUNY, Binghamton, 1993)
              li J. Bately, J. Roberts et al., Archive of source-studies and source materials located in the Department of English, King's College London

          h2(id="acknowledgements") Acknowledgements
          p The project gratefully acknowledges support from the following institutions:
          ul
              li British Academy: grants for running costs and research assistance, 1986-96
              li Humanities Research Board: grants for research assistance and an Institutional Fellowship, 1996-9
              li Arts and Humanities Research Board:
                ul
                    li grants for research assistance, 1997-1999
                    li major three-year grant for research assistance, database management, web and CD-ROM development, 1999-2002

              li University of Manchester: grants for research assistance, 1987-90, and institutional support
              li University of Leeds: institutional support
              li University of Cambridge: institutional support
              li King's College London: grant for research assistance 1988-90, and institutional support
              li University of Oxford: grant for hardware and web development 1997-9, and institutional support 1997-2002

          h2(id="about-the-database") About the Database
          p The database covers about 1150 Anglo-Saxon texts, over 500 in Old English and over 600 in Latin. Nearly a thousand source-texts have been cited, from Abbo to Wulfstan.

          h2(id="acknowledging-the-database") Acknowledging the Database
          p The records for each text were compiled by the individual contributors named in the general information for that text, using either their own unpublished research or published work by themselves or others as noted in the bibliographical information provided with the records, or a combination of the two. Any user wishing to employ material drawn from the database in their own publications should acknowledge the Fontes database and, where appropriate, the individual contributor and the published work cited in the bibliographies.

          h2(id="what-can-i-do") What can I do with the Database?
          //- TODO: REWRITE THIS SECTION
          ul
              li You can select an Anglo-Saxon (or ‘target’) text (whether Old English or Latin) and get a report of all the sources used for it, passage by passage, sometimes phrase by phrase, matched to a precise location in the source text
              li You can get a summary account of all the different source authors used by a particular Anglo-Saxon author, or of all the sources used for a particular Anglo-Saxon text, and follow up those in which you are interested
              li You can pick a text used as a source, and ask for a list of all the Anglo-Saxon texts that used that source, and follow up the examples that interest you. Or, after choosing a source-text, you can select the Anglo-Saxon texts which you want to know about.


          h2(id="features") Features
          ul
              li Anglo-Saxon texts (called ‘target texts’) are identified by their author, title and edition (in summary form). The particular passage is identified by its line-numbers or other appropriate reference, and by the opening and closing words (or a full quotation if it is very short). Information about the contributor, transmission of sources, and any bibliography of source-studies for that text appear when the text is selected.
              li Source texts are identified by their author (including Anonymous and Biblia Sacra for books of the Bible), title, and edition (in abbreviated form). We use as far as possible standard, widely accessible editions of source-texts to make it easy for users to follow up references, especially on databases such as PLD (Patrologia Latina Database) and Cetedoc (Library of Christian Latin Texts on CD-ROM). These are not always the most recent editions, and in some cases different editions of the same text have been cited, usually because they contain distinct versions of the source-text. In identifying authors we have tried to keep abreast of modern re-attributions and identifications, but since these are constantly changing users should be prepared to look for other possibilities (e.g. by consulting Clavis Patrum Latinorum for patristic texts).
              li Individual source-identifications are accompanied by a sigil indicating 'source-status' - that is, is it a single source or one of several (alternative or combined) sources for that passage? Is it a certain source, or a probable one, or just a possible one, or an analogue?

          h2(id="new-website") 2020 Update
          p This website was designed and developed by Bryan Yick as a masters project at the University of St Andrews. I hope anyone who uses the new Fontes finds the design easy to use and the features helpful.

