extends layout

block pagehead
  title Fontes Anglo-Saxonici - Contact Us


block content
    div(class="row")
        h1(class="page-heading col-8 offset-col-2 col-s-10 offset-col-s-1 col-xs-10 offset-col-xs-1") Contact Us
    div(class="row")
        div(class="col-6 offset-col-2 col-s-8 offset-col-s-1 col-xs-10 offset-col-xs-1 main-text-content" role="main")
            p General enquiries about the project should be addressed to the Chairman, Professor Donald Scragg, Centre for Anglo-Saxon Studies, University of Manchester, Manchester M13 9PL, United Kingdom. [#[a(href="mailto: d.g.scragg@man.ac.uk") E-mail: d.g.scragg@man.ac.uk]]

            p If you have any comments or questions about the database or experience problems using it, please contact Dr Rohini Jayatilaka, Fontes Anglo-Saxonici Project, English Faculty, Oxford University, Oxford, OX1 3UQ, United Kingdom. [#[a(href="mailto: fontes@ell.ox.ac.uk") E-mail: fontes@ell.ox.ac.uk]]

            p If you are interested in contributing to the project or have questions on texts not yet included in the database, contact:

            p For Old English texts
            ul
                li Dr Susan Irvine, Department of English, University College London, Gower Street, London WC1E 6BT [#[a(href="mailto: uclesei@ucl.ac.uk") E-mail: uclesei@ucl.ac.uk]] 
            p For Anglo-Latin texts
            ul
                li Dr Rosalind Love, Robinson College, Cambridge, CB3 9AN, United Kingdom. [#[a(href="mailto: rcl10@hermes.cam.ac.uk") E-mail: rcl10@hermes.cam.ac.uk]] 
