extends layout

block pagehead
  title Fontes Anglo-Saxonici - Help

block content
  div(class="row")
      h1(class="page-heading col-8 offset-col-2 col-s-10 offset-col-s-1 col-xs-10 offset-col-xs-1") Help
  div(class="row")
      //-sidebar goes here
      section(class="col-6 offset-col-2 col-s-7 offset-col-s-2 col-xs-10 offset-col-xs-1 main-text-content", role="main")
          h2 Using the Search
          p Before you search, make sure to check the search section. The search has two modes, one for searching target (Anglo-Saxon) texts first and one for searching source texts first. The page will initially show all texts in the database of the selected type. Use the search to narrow down the list until you find the text you are interested in. The autocomplete feature for the title field can help you find the text you are looking for as you type. When you find the text you want, click on the record in the table to select it.
          
          p The next step would be to select the next text. If you had previously selected a target text, this would now be a source text and vice versa. Simply browse through the list of results to find the relevant text. When the correct text is found, click on it to go view all entries referenced from the target text to the source text.
          
          p When first viewing the entries, only the location of the entry, the entry quote and the sigla are shown. To view more details, simply click on the entry and it will expand. The sigla are very important as they show what type and how certain contributors to Fontes are of the entry. As the meanings are not immediately obvious, an interpretation is provided in the details of the entry.
          
          p Additional information on the texts are provided above the entries. This part tells you how to read the location information of the source texts and sometimes provides additional commentary.
          
          h2 Using the Pinned Entries
          p Pinned entries are a way of storing the entries you are interested in. These entries can be from many different searches. When you view entries during a search, you will find pin icons on the left of every entry. If you click on the icon, the icon will fill in and the entry will be pinned.
          
          p Once entries have been pinned, you can find them in the pinned entries page via the navigation bar. The standard print and download records functions are available here so you can print/download only the records you are interested in. If you want to unpin records, you can unpin them from here or from the search.
          
          p Records in the pinned entries page will be sorted by their target text first, then source text. They are initially hidden until clicked on, like the entries in the search section.
          
          h2 Using the Bibliography Search
          p The bibliography section allows you to find more information about the texts used in Fontes. It is searchable in the same way the main search function works. When you find the text you are interested in, simply click on it and a display showing all the information regarding it will appear.
