extends layout

block pagehead
  title Fontes Anglo-Saxonici - Help

block content
  div(class="row")
      h1(class="page-heading col-8 offset-col-2 col-s-10 offset-col-s-1 col-xs-10 offset-col-xs-1") Help
