extends layout

block pagehead
  title Fontes Anglo-Saxonici - Pinned
  
block content
  div(class="row")
      h1(class="page-heading col-8 offset-col-2") Pinned
  div(class="row")
      div(class="col-6 offset-col-2 main-text-content" role="main")
          p It looks like you haven't pinned any entries yet. To pin an entry, click the "pin" icon on the top-left of a record.
          
          p image inserted here
          
          p You can pin entries from various searches so you can collect all entries you are interested in a centralised location. However, these records will be deleted on the closing of your browser, so be careful!
          
