@media only screen {
  * {
    display: none;
  }
}
@media print {
  * {
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    color: #000;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #fff;
    font-size: 12px;
    border-bottom: #000 3px solid;
  }
  #top {
    border-bottom: #000 3px solid;
  }
  #top img {
    width: 125px;
    height: auto;
    margin-bottom: 5px;
  }
  #top h1 {
    font-size: 48px;
    float: right;
  }
  #results table {
    margin-top: 10px;
    padding: 7px 0;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
  }
  #results table thead {
    border-bottom: #000 2px solid;
    padding-bottom: 3px;
  }
  #results table thead th {
    text-align: left;
    font-size: 16px;
  }
  #results table thead th:nth-child(1) {
    width: 15%;
  }
  #results table thead th:nth-child(2) {
    width: 75%;
  }
  #results table thead th:nth-child(3) {
    width: 10%;
  }
  #results table tbody tr td {
    vertical-align: top;
    padding: 6px 3px 0 0;
  }
}
